

body {

    margin: 0;
}

.header {

    background-color: #1F2937;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 40px;
    padding-bottom: 160px;

}

.container {

    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.list {

    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 18px;
    
}

.head {

    display: flex;
    font-size: 24px;
    color: #F9FAF8;

}

.title {

    display: flex;
    justify-content: space-between;
}

.image > img {
    height: 400px;
    width: auto;
   
}

.bread1 {

    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.bread2 {
    font-size: 18px;
    color: #E5E7EB;
    align-items: flex-start;
    
}

.bread3 {

  margin-top: auto;
  display: flex;
  align-items: flex-start;
  width: 80px;
  justify-content: center;
  color: #E5E7EB;
  background-color: #3882F6;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  font-weight: 700;
}


.content {

    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;

}

.bulk {

    display: flex;
    flex-direction: column;
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 40px;
    padding-bottom: 160px;
}

.information {

    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.images {

    display: flex;
    justify-content: space-between;
}

.one, .two, .three, .four {

    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   
}

img {

    max-width: 100%;
    max-height: 100%;
}

.quote {

    padding-right: 500px;
    padding-left: 500px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textcontainer {

    display:flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
}

.citat {

    font-size: 36px;
    font-style: italic;
    display: flex;
}

.reference {

    display: flex;
    align-self: flex-end;
    font-weight: 700;
}

.section4 {

    padding-right: 400px;
    padding-left: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {

    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 800px;
    height: 100px;
    align-items: center;
    border-radius: 7px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;

}

.action-text {

    display: flex;
    flex-direction: column;
    margin:10px;
    color: #F9FAF8;
}

.action {

    font-size: 18px;
    font-weight: 700;
}

.small-action{

    font-size: 16px;
    font-style: italic;
}

.action-button > button {

    margin: 10px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;

}

.footer {
    padding-right: 400px;
    padding-left: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.foot {

    color: #F9FAF8;
    font-size: 14px;
}